<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>
    <div class="box" id="heading">
      <div class="enTete">

        <div class="">
          <p id="p"><%=weekOfDay%></p>
          <p id="p1"><%=weekOfTime%></p>
        </div>
<h1>Mon Agenda D💖 Jours</h1>
      </div>

    </div>
<div class="box">
  <p id="teteCorps"> List Des Taches💪!!!</p>
    <%  for(var i=0; i<listOfthing.length; i++){%>
<div class="item">
  <input type="checkbox">
  <p><%=listOfthing[i]%></p>
</div>
 <%}%>

<form class="item" action="/" method="post">
      <input type="text" name="elmt1" placeholder="Ecrire Des Taches" autofocus autocomplete="off" >
      <button type="submit" name="button" >+</button>
    </form>
    </div>
    <footer>Diguina💖Fils</footer>
  </body>
</html>
